ul, ol { padding-left:18px; list-style-type:disc; }
dl { margin:15px 0; }
dl dt { float:left; margin-right:5px; }
dt.more-dd { float:none; }
dt.more-dd ~ dd { margin-left:0; }
dt.more-dd ~ dd:before, .sublist li:before { content:'- '; }
dt.more-dd ~ dd + dt { margin-top:8px; }
dl ul { margin-left:10px; }
.sublist { padding-left:0; margin-bottom:8px; }
.sublist li { list-style:none; }

body {
  font:16px/1.5 baskerville, georgia, "times new roman", times, serif;
  width:600px; margin:0 auto; padding:15px 30px;
  border-right: 1px solid #eee;
  background:snow; color:#111;
}

h1, h2 { font-family:"helvetica neue", helvetica, sans-serif; }
h1, h2, strong { font-weight:normal; text-shadow: 1px 1px 1px rgba(80, 80, 80, .4); }
h1 a { text-shadow:none; }
hgroup h1, hgroup h2 { font-family:inherit; }
hgroup h1 { margin:0; font-size:40px; }
hgroup h2 {
  font-variant:small-caps; text-transform:lowercase; font-size:18px;
  margin-top: -9px; letter-spacing: 2px; padding-left: 3px;
}
hgroup { margin-bottom:40px; }
body > section > h1 { margin-top:40px; font-size:24px; }
body > section section h1 { margin:25px 0 10px; font-size:19px; }

nav { position:fixed; visibility:hidden; }
nav ol, .item-sections { list-style-type:none; padding-left:0; }
nav ol { position:relative; left: 640px; top: 10px; visibility:visible; }
nav li:before { content:'... ';}

a:link, nav li { color:crimson; }
a:hover, a:active { text-decoration:none; }
a:visited { color:indianred; }

p { margin:8px 0; }
p + ul, p + ol { margin-top:10px; }

time { font-variant: small-caps; text-transform: lowercase; text-shadow: 1px 0px 2px rgba(120, 120, 120, .6); }
time + ul { margin-top:10px; }

img { float: right; width: 220px; border: 2px solid #DDD; }
#contact {
  line-height: 2;
  border-radius: 15px; border: 1px solid #e4e4e4;
  background: #FBF1F5;
  box-shadow: -2px 0px 2px #CCC;
  margin-top: 68px;
  padding: 20px 40px;
}
#contact dt { width: 60px; }
#summary { clear:left }

